<div class="container-fluid main">
  <div class="card" style="width: 18rem;">
    <img src="src/app/shared/photos/hw12screen.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">HomeWork12</h5>
      <a routerLinkActive="active" [routerLink]="[ './works/hw12' ]" class="btn btn-primary">Go to HomeWork12</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/app/shared/photos/hw13screen.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">HomeWork13</h5>
      <a routerLinkActive="active" [routerLink]="[ './works/hw13' ]" class="btn btn-primary">Go to HomeWork13</a>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/app/shared/photos/hw14screen.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">HomeWork14</h5>
      <a routerLinkActive="active" [routerLink]="[ './works/hw14' ]" class="btn btn-primary">Go to HomeWork14</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/app/shared/photos/hw15screen.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">HomeWork15</h5>
      <a routerLinkActive="active" [routerLink]="[ './works/hw15' ]" class="btn btn-primary">Go to HomeWork15</a>
    </div>
  </div>
</div>
